doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/logo.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Natours | #{title}

  body
    //- h1= tour
    //- h1 The Park Camper
    //- h2= user.toUpperCase()

    //- - const x = 9;
    //- h2= 2 * x

    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading


    // FOOTER
    include _footer

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js', integrity='sha512-3BBFWr73Xrf8GRjO+0pl0cbVwESBvg3ovnuCXpoqOkC/mkt/hTkFtutUPrwRz8eLySYvy5v1daulkyUZYvH8jw==', crossorigin='anonymous')
   
    //- script(src='/js/mapbox.js')
    //- script(src='/js/login.js')
    //- script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')


     //- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha512-3BBFWr73Xrf8GRjO+0pl0cbVwESBvg3ovnuCXpoqOkC/mkt/hTkFtutUPrwRz8eLySYvy5v1daulkyUZYvH8jw==" crossorigin="anonymous"></script>
